﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="htmlEditor.ascx.cs" Inherits="Admin.HtmlEditor" %>
<%@ Register Src="CKEditor.ascx" TagName="CKEditor" TagPrefix="CKEditor" %>
<CKEditor:CKEditor ID="CKEditor1" runat="server" />
