﻿#featured {
	width: 670px;
	height: 360px;
	padding: 9px;
	border: solid 1px #D7D4D3;
	margin-bottom: 10px;
	background: #fff;
	margin-left: 10px;
	overflow: hidden;
}

#featured ul {
	width: 670px;
	height: 360px;
	list-style: none;
	overflow: hidden;
}

#featured ul li {
	width: 670px;
	height: 360px;
	position: relative;
	z-index: 1;
}

#featured ul li span.top {
	height: 3px;
	left: 0;
	right: 0;
	top: 0;
	background: url(images/trans.png) repeat;
	position: absolute;
}

#featured ul li span.left {
	width: 3px;
	left: 0;
	top: 3px;
	bottom: 3px;
	background: url(images/trans.png) repeat;
	position: absolute;
}

#featured ul li span.right {
	width: 3px;
	right: 0;
	top: 3px;
	bottom: 3px;
	background: url(images/trans.png) repeat;
	position: absolute;
}

#featured ul li span.bottom {
	height: 3px;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(images/trans.png) repeat;
	position: absolute;
}

#featured ul li .desc {
	background: url(images/trans.png) repeat;
	position: absolute;
	width: 670px;
	bottom: 0px;
	left: 3px;
	padding: 20px 20px 20px 15px;
}

#featured ul li .desc h1, #featured ul li .desc h1 a {
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	margin: -5px 0 10px 0;
	font-size: 30px;
	line-height: 35px;
}

#featured ul li .desc h1 a:hover {
	text-decoration: none;
}

#featured ul li .desc small {
	color: #999;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 0 #000;
}

#featured ul li .desc a.accent {
	display: block;
	float: left;
	padding-left: 4px;
	padding-right: 4px;
	line-height: 18px;
	margin-top: 1px;
	background: #337295;
	-moz-border-radius: 3px;
	-web-kit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	text-shadow: none;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 5px;
}

#featured ul li .desc a.accent:hover {
	background: #3b85ad;
	text-decoration: none;
}
