﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="contato.master.cs" Inherits="StandardSite" %>
<%@ Import Namespace="BlogEngine.Core" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head runat="server" profile="http://gmpg.org/xfn/11">
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
  <form runat="Server" class="body">
     <div id="geral-contato">
        <div id="conteudo">
           <a href="../index.html" class="logo"></a>
           <a href="<%=Utils.AbsoluteWebRoot %>" target="_blank" class="bt-blog"></a>
           <a href="../loja/" target="_blank" class="bt-loja"></a>
           <a href="http://twitter.com/lojahole" target="_blank" class="bt-twitter"></a>
           <a href="http://www.facebook.com/lojahole" target="_blank" class="bt-facebook"></a>
           <a href="http://lojahole.tumblr.com" target="_blank" class="bt-t"></a>
           <div class="clear"></div>

           <div class="contato">

            <asp:ContentPlaceHolder ID="cphBody" runat="server" />

           </div>

        </div> 

        <div class="clear"></div>

    </div>

    <div id="rodape"></div>
  </form>
  
</body>
</html>
