﻿.blog .lateral .widget {
	background-color: #000;
	border: 3px solid #333;
	padding: 12px;
	font-family: 'MyriadProRegular';
	color: #666;
	margin-bottom: 15px;
	text-align:center;
	padding: 20px;
}

div.widget a.edit, div.widget a.move, div.widget a.delete{
	font-size: 85%;
	font-weight: normal;
	float: right;
	z-index: 1;
	margin-left: 2px;
}

.widgetzone .widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

/****************************************************************/
* {margin:0;padding:0;} 

html, body {
	height: 100%;
}
body {
	height: 100%;
	background-color:#171615;
    font-family: 'MyriadProRegular';
	font-size: 12px;
	color: #666;
	background-image:url(images/bg-body.jpg);
	background-position: top center;
	}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
a {
	color: #666;
	text-decoration:none;
}
b, strong 
{
    font-family: 'MyriadProBold';
}
img  
{
    border: 0px;
}
.right {
	float: right;
}
.left {
	float: left;
}
.coluna-right {
	float: right;
	width: 49%
}
.coluna-left {
	float: left;
	width: 49%
}
h1, h2, h3 {
	font-family: 'MyriadProBold';		
}
.red {
	color: #c00;
}
.mug {
	width: 115px;
	height: 25px;
	float:right;
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	margin-top: 8px;
	background-position: -236px -181px;
}
.hangloose {
	background-image:url(images/icones.png);
	background-position: -53px 0;
	width: 40px;
	height: 34px;
	display: inline-block;
	margin: 0 0 -15px 0px;

}
.ohyeah {
	background-image:url(images/icones.png);
	width: 53px;
	height: 32px;
	display: inline-block;
	margin: -70px 0 0 -25px;

}	
#rodape {
	position: relative;
	margin-top: -44px ; /* negative value of footer height */
	height: 44px;
	clear:both;
	background-color:#161614; 
	background-image:url(images/bg-rodape.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	font-size: 24px;
	font-family: 'ScratchKitRegular';
}
.clear {
	clear:both;
}
#geral-index {
	min-height: 100%;
	width: 100%;
	background-color: transparent;
	background-image:url(images/bg-geral-index.jpg);
	background-position: center  top;
	background-repeat:no-repeat;
	}
#geral {
	min-height: 100%;
	width: 100%;
	background-color: transparent;
	background-image:url(images/bg-geral-topo.jpg);
	background-position: center  top;
	background-repeat:no-repeat;
	}
#geral-contato {
	min-height: 100%;
	width: 100%;
	background-color: transparent;
	background-image:url(images/bg-contato-topo.jpg);
	background-position: center  top;
	background-repeat:no-repeat;
	}
#conteudo-index {
	overflow: none;
	margin:0 auto;
	display:block;

	padding-bottom: 84px;
	padding-top: 0px;
	width: 985px; 
	background-image:url(images/bg-conteudo.jpg);
	background-repeat: no-repeat;
	background-position: center 240px;
	} 
#conteudo {
	overflow: none;
	margin:0 auto;
	display:block;

	padding-bottom: 84px;
	padding-top: 0px;
	width: 985px; 
	_background-image:url(images/bg-conteudo.jpg);
	background-repeat: no-repeat;
	background-position: center 240px;
	}   
#conteudo .logo {
	background-image:url(images/logo.png);
	background-repeat: no-repeat;
	background-position: 0 -200px;
	width: 160px;
	height: 140px;
	display:block;
	float:left;
	margin: 6px 0 0 20px;	
}
#conteudo-index .logo {
	background-image:url(images/logo.png);
	background-repeat: no-repeat;
	width: 240px;
	height: 200px;
	display:block;
	float:left;
	margin: 25px 0 0 90px;	
}
#conteudo-index .bt-loja {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	width: 360px;
	height: 72px;
	display:block;
    position: absolute;
	margin: 105px 20px 0 530px;	
}
#conteudo .bt-blog {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: 0 -135px;
	width: 115px;
	height: 35px;
	display:block;
    position: absolute;
	margin: 65px 20px 0 759px;	
}
#conteudo-index .bt-blog {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: 0 -66px;
	width: 184px;
	height: 56px;
	display:block;
	position: absolute;
	margin: 172px 20px 0 530px;

}
#conteudo .bt-loja {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: -2px -179px;
	width: 115px;
	height: 35px;
	display:block;
    position: absolute;
	margin: 65px 20px 0 889px;	
}
#conteudo .bt-loja-blog {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: -118px -179px;
	width: 108px;
	height: 35px;
	display:block;
    position: absolute;
	margin: 65px 20px 0 763px;	
}
#conteudo .bt-contato {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: -114px -135px;
	width: 114px;
	height: 36px;
	display:block;
    position: absolute;
	margin: 65px 20px 0 876px;
}

#conteudo-index .bt-contato {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: -184px -66px;
	width: 184px;
	height: 56px;
	display:block;
    position: absolute;
	margin: 172px 20px 0 714px;
}
#conteudo .bt-twitter {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: -246px -135px;
	width: 30px;
	height: 28px;
	display:block;
    position: absolute;
	margin: 114px 20px 0 880px;
}
#conteudo .bt-facebook {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: -283px -135px;
	width: 30px;
	height: 28px;
	display:block;
    position: absolute;
	margin: 114px 20px 0 917px;
}
#conteudo .bt-t {
	background-image:url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: -320px -135px;
	width: 30px;
	height: 28px;
	display:block;
    position: absolute;
	margin: 114px 20px 0 953px;
}
.esquerdo {
	width: 152px;
	background-image:url(images/bg-esquerdo-topo.png);
	background-repeat: no-repeat;
	background-position:right top;
	margin: 15px 0 0 0;
	padding: 45px 12px 0 12px;
	float:left;
	display: inline-block;
	text-align:right;

}
.esquerdo .masculino {
	display:inherit;
	padding: 0px 0px 20px 10px;
	width: 127px;
	text-align:right;
}
.esquerdo .masculino .titulo {
	background-color: transparent;
	background-image:url(images/titulo-esquerdo.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	display:inherit;
	height: 34px;
	width: 136px;
	text-align:right;
}
.esquerdo .feminino {
	padding: 0px 0px 20px 10px;
	display:inherit;
	width: 140px;
	text-align:right;
}
.esquerdo .feminino .titulo {
	background-color: transparent;
	background-image:url(images/titulo-esquerdo.png);
	background-repeat: no-repeat;
	background-position: -151px 0;
	display:inherit;
	height: 34px;
	width: 136px;
	text-align:right;
}
.esquerdo .acessorios {

	padding: 0px 0px 20px 10px;
	display:inherit;
	width: 138px;
	text-align:right;
}
.esquerdo .acessorios .titulo {
	background-color: transparent;
	background-image:url(images/titulo-esquerdo.png);
	background-repeat: no-repeat;
	background-position: -312px 0;
	display:inherit;
	height: 34px;
	width: 155px;
	text-align:right;
}
.esquerdo .decoracao {

	padding: 0px 10px 20px 10px;
	display:inherit;
	width: 140px;
	text-align:right;
}
.esquerdo .decoracao .titulo{
	background-color: transparent;
	background-image:url(images/titulo-esquerdo.png);
	background-repeat: no-repeat;
	background-position: -475px 0;
	height: 44px;
	width: 155px;
	text-align:right;
	display:inherit;
}
.esquerdo .camisa{
	background-color: transparent;
	background-image:url(images/icon-esquerdo.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	display:inherit;
	width: 90px;
	text-align: left;
	padding-left: 25px;
	text-align:right;
}
.esquerdo .calca{
	background-color: transparent;
	background-image:url(images/icon-esquerdo.png);
	background-repeat: no-repeat;
	background-position: 0 -29px;
	display:inherit;
	width: 90px;
	text-align: left;
	padding-left: 25px;
	text-align:right;
}
.esquerdo .meia{
	background-color: transparent;
	background-image:url(images/icon-esquerdo.png);
	background-repeat: no-repeat;
	background-position: 0 -58px;
	display:inherit;
	width: 90px;
	text-align: left;
	padding-left: 25px;
	text-align:right;
}
.esquerdo .frio{
	font-size:24px;
	color: #5e7e9e;
	font-family: 'ScratchKitRegular';
	text-decoration:none;
	width: 20px;
	padding-left: 4px;
	display:inline;
	height: 15px;
}
.esquerdo .frio:hover{
	color: #09F;
}
.esquerdo .calor{
	font-size:24px;
	color: #812f30;
	font-family: 'ScratchKitRegular';
	text-decoration:none;
	width: 20px;
	display:inline;
	height: 15px;
	margin-left: 8px;
}
.esquerdo .calor:hover{
	color: #C00;
}
.centro {
	width: 545px;
	background-color: #fff;
	margin: 15px 0 0 0;
	float:left;
	padding: 20px;
	text-align: left;
	min-height: 380px;

}
.centro .mao {
	width: 28px;
	height: 12px;
	float: right;
	margin-top: -32px;
	margin-right: -20px;
	background-color:#FFFFFF;
}
/********************************PRODUTOS *************************************************/
.centro .produto {
	display:inline-block;
	width:155px;
	border:1px solid #fff;
	height: 210px;
	margin: 10px;
	text-align:center;
	font-family: 'MyriadProBold';
	color: #222;
	padding-top: 10px;
}
.centro .produto:hover {
	border:1px solid #ccc;
}
.centro .produto img {
	border: 0;
	_width: 60px;
}
.centro .descricao {
	padding: 12px 0 0px 0;
	font-size: 16px;
}
.centro .valor {
	padding: 0px 0 0px 0;
	font-size: 20px;
	color: #C00;
}
.centro .detalhes {
	padding: 0px 0 5px 0;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	color: #777;
}
.centro .titulo {
	padding: 8px 0 15px 0;
	font-family: 'MyriadProBold';
	font-size: 22px;
	color: #222;
}
.centro .breadcrumb 
{
    padding: 0 0 15px 0;
}
.centro .breadcrumb a:hover
{
    text-decoration: underline;
    color: #222;
}
.centro .sub-category-grid .category-title 
{
    font-size: 16px;
    padding: 6px;
}
.centro .sub-category-grid table
{
    width: 100%;
    text-align: center;
}
.centro .product-details-page {
	padding: 10px 0 10px 0;
}
.centro .product-essential {
	width: 55%;
	border: 0px solid #f00;
	float: left;
}
.centro .product-essential h1 {
	
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 15px;
	
}
.centro .product-collateral {
	width: 40%;
	border: 0px solid #ff0;
	float: right;

}
.centro .product-collateral .price
{
    font-family: 'MyriadProBold';
    font-size: 32px;
    color: #c00;
    padding-bottom: 10px;
}
.centro .product-collateral input[type=submit]
{
	background-color: #3f3e3c;
	background-image:url(images/bt-carrinho.jpg);
	background-repeat: no-repeat;
	background-position:right;
    margin-top: 10px;
	text-align: left;
	padding: 2px 50px 2px 15px; 
	border: 0px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: 'MyriadProBold';
	
}
.centro .product-collateral input[type=submit]:hover
{
	background-color: #3f3e3c;
	background-image:url(images/bt-carrinho.jpg);
	background-repeat: no-repeat;
	background-position:right;
    margin-top: 10px;
	text-align: left;
	padding: 2px 50px 2px 15px; 
	border: 0px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: 'MyriadProBold';
	
}
.centro .product-collateral .attributes 
{
    padding: 5px 0 5px;
}
.centro .product-collateral .attributes select 
{
    margin-bottom: 5px;
}
.centro .product-collateral .productspec-box 
{
    padding-top: 10px;
    padding-bottom: 6px;
}
.centro .product-collateral .productspec-box .title
{
    font-family: 'MyriadProBold';
    font-size: 16px;
}
.centro .search-results .item-box {
	width: 175px;
	float:left;
	display:inline;
}
/*********************************************************************************************************/
.centro .login {
	font-family: 'MyriadProRegular';
}
.centro .login .titulo {
	font-size: 16px;
	color: #555;
	font-family: 'MyriadProRegular';
}
.centro .login .cadastrado {
	width: 49%;
	float: left;
	text-align: left;
}
.centro .login .cadastrar {
	width: 49%;
	float: right;
	
	text-align: right;
}
.centro .login .cx {
	background-color:#ececec;
	padding: 10px;
}
.centro .login input.campo {
	background-color:#fff;
	border: 0px;
	padding: 4px 10px;
	width: 92%;
	margin: 4px 0 15px 0;
	font-family: 'MyriadProRegular';
}
.centro .login button.botao {
	background-color:#3f3e3b;
	border: 1px solid #3f3e3b;
	padding: 5px;
	color: #fff;
	width: 120px;
	margin: 4px 0 8px 0;
	font-size: 14px;
	font-family: 'MyriadProRegular';
	cursor: pointer;
}
.centro .login button.botao:hover {
	background-color:#fff;
	border: 1px solid #3f3e3b;
	color: #3f3e3b;
}
.centro .login input.botao {
	background-color:#3f3e3b;
	border: 1px solid #3f3e3b;
	padding: 5px;
	color: #fff;
	width: 120px;
	margin: 4px 0 8px 0;
	font-size: 14px;
	font-family: 'MyriadProRegular';
	cursor: pointer;
}
.centro .login input.botao:hover {
	background-color:#fff;
	border: 1px solid #3f3e3b;
	color: #3f3e3b;
}
.centro .login .cx span {
	font-size: 10px;
}

.centro .compra {
	font-family: 'MyriadProRegular';
}
.centro .compra .passos {
	background-color: #666;
	height: 35px;
	width: 550px;
	margin-bottom: 10px;
}
.centro .compra .funcoes {
	background-color: #ececec;
	margin-bottom: 10px;
	padding: 15px;
	margin: 15px 0 15px 0;
}
.centro .compra .nobr {
	width: 12%;
}
.centro .compra .nobr input.qty-input {
	text-align: center;
}
.centro .compra .funcoes input.botao {
	background-color:#3f3e3b;
	border: 1px solid #3f3e3b;
	padding: 4px 7px;
	color: #fff;
	font-size: 11px;
	font-family: 'MyriadProRegular';
	cursor: pointer;
}
.centro .compra .funcoes input.botao:hover {
    background-color:#fff;
	border: 1px solid #3f3e3b;
	color: #3f3e3b;
}
.centro .compra .funcoes input.botao2 {
	background-color:#acabab;
	border: 1px solid #acabab;
	padding: 4px 7px;
	color: #fff;
	font-size: 11px;
	font-family: 'MyriadProRegular';
	cursor: pointer;
}
.centro .compra .funcoes input.botao2:hover {
    background-color:#fff;
	border: 1px solid #acabab;
	color: #3f3e3b;
}
.centro .compra table.cart-total td.cart_total_left {
	width: 20%;
	padding-right: 5px;
	font-family: 'MyriadProBold';
	font-size: 13px;
	text-transform:uppercase;
	text-align: right;
	border-top:1px solid #e5e5e5;
}
.centro .compra table.cart-total td.cart_total_right {
	font-family: 'MyriadProRegular';
	font-size: 13px;
	padding-left: 5px;
	border-top:1px solid #e5e5e5;
}
.centro .compra .checkout-buttons{
	padding: 15px 0 10px 0;
	text-align: right;
}
/******************************** MINHA CONTA ***********************************************/
.centro .listbox {
	padding-bottom: 10px;
	border-bottom:1px solid #ddd;
}
ul.menu-customer li a {
	font-family: 'MyriadProRegular';
	font-size: 13px;
	padding: 3px 5px;
	
}
ul.menu-customer li a.active  {
	font-family: 'MyriadProBold';
	font-size: 16px;
}
ul.menu-customer li a.inactive  {
	font-family: 'MyriadProRegular';
	font-size: 13px;

}	
.centro .order-item b, .address-item b {
	font-size: 16px;
}
.centro .order-item .buttons {
	border: 0px;
}
.centro .address-item .buttons {
	border: 0px;
}
/**************************** pesquisa ********************************************/
.centro .basic-search {
	width: 100%;
}
.centro .basic-search .title {
	padding: 10px 8px 15px 12px;
}
.centro .basic-search input.price-from {
	width: 150px;
}
.centro .basic-search input.price-to{
	width: 150px;
}
	
/*******************************************************************************/
.direito {
	float: right;
	width: 212px;
	margin-top: 13px;
	background-color: transparent;
}
.caixa-login {
	background-color: #3f3e3b;
	padding: 10px;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	color: #e9e9e9;
	line-height: 18px;
	margin-bottom: 25px;
	text-align: left;

}
.caixa-login .usuario {
	color: #fb4340;
	padding-left: 2px;	
}
.caixa-login a {
	color: #aaa;
	text-decoration:none;
}
.caixa-login a:hover {
	color: #fff;
}
.caixa-login .carrinho {
	background-image:url(images/carrinho.jpg);
	background-repeat:no-repeat;
	background-position: top right;
	padding-top: 6px;
	padding-bottom: 26px;
}
.caixa-login .carrinho span {
	font-size: 24px;
	font-family: 'MyriadProBold';
	width: 43px;
	float: right;
	text-align:center;
	color: #bbb;
}
.caixa-login input[type=text] {
	background-color: #a9a0a0;
	padding: 4px 0px;
	color: #000;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	width: 100%;
	border:0;
}
.caixa-login input[type=submit] {
	background-color: #a32a28;
	padding: 4px 10px;
	color: #fff;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	float:right;
	border:0;
	cursor: pointer;
}
.caixa-login input[type=submit]:hover {
	background-color: #fff;
	color: #a32a28;
}
.caixa-login input[type=button] {
	background-color: #a32a28;
	padding: 4px 10px;
	color: #fff;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	float:right;
	border:0;
	cursor: pointer;
}
.caixa-login input[type=button]:hover {
	background-color: #fff;
	color: #a32a28;
}
.direito ul.menu {
	text-align:right;
	display:block;
	margin-top: 25px;
	list-style:NONE;
}
.direito ul.menu li {
	text-align: right;
	border-right:1px solid #888;
	padding: 3px 15px 3px 2px;
	list-style:NONE;
	color: #999;
	font-size: 13px;
}
.direito ul.menu li a {
	color: #999;
	font-size: 13px;
}
.direito ul.menu li a:hover {
	color: #fff;
	font-size: 13px;
}

/******************** forms **************************/
.centro h1 {
	font-size: 22px;
	font-family: 'MyriadProBold';
	padding-bottom: 15px;
		
}
.centro .section-title {
	font-size: 16px;
	font-family: 'MyriadProBold';
	padding-bottom: 8px;
	_text-transform: uppercase;
	border-top:1px solid #e9e9e9;
    margin-top: 5px;
    padding-top: 8px;
}
.centro td.item-name {
	text-align:right;
	width: 120px;
	padding: 5px 5px 5px 0;
}
.centro td.item-value {
	width: 400px;
	padding: 5px 5px 5px 0;
}
.centro input[type=text] {
	background-color: #fff;
	border:1px solid #d5d5d5;
	padding: 4px 0px;
	color: #222;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	width: 380px;
	display:inline-block;
}
.centro input[type=password] {
	background-color: #fff;
	border:1px solid #d5d5d5;
	padding: 4px 0px;
	color: #222;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	width: 220px;
	display:inline-block;
}
.centro select {
	background-color: #fff;
	border:1px solid #d5d5d5;
	padding: 4px;
	color: #222;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	display:inline-block;
	margin-right: 2px;
}
.centro textarea {
	background-color: #fff;
	border:1px solid #d5d5d5;
	padding: 4px 0px;
	color: #222;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	width: 380px;
	display:inline-block;
}
.centro input[type=submit], input[type=button], button {
	background-color: #3f3e3b;
	padding: 4px 15px;
	color: #fff;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	border:1px solid #3f3e3b;
	cursor: pointer;
	text-transform:uppercase;
}
.centro input[type=submit]:hover, input[type=button]:hover, button:hover {
	background-color: #fff;
	padding: 4px 15px;
	color: #3f3e3b;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	border:1px solid #3f3e3b;
	cursor: pointer;
	text-transform:uppercase;
}
.centro .buttons 
{
    padding: 10px 0 10px 0;
    text-align: right;
    border-top:1px solid #ddd;
    margin-top: 15px;
}
.centro .enter-address-body {
	padding: 15px 0 15px 0;
}
.centro .enter-address-body table td {
	padding: 5px 0 5px 0;
}
.centro .enter-address-body label {
	text-align: right;
	padding-right: 5px;
}
.centro .checkout-page table.cart-total td.cart_total_left {
	width: 20%;
	padding-right: 5px;
	font-family: 'MyriadProBold';
	font-size: 13px;
	text-transform:uppercase;
	text-align: right;
	border-top:1px solid #e5e5e5;
}
.centro .checkout-page table.cart-total td.cart_total_right {
	font-family: 'MyriadProRegular';
	font-size: 13px;
	padding-left: 5px;
	border-top:1px solid #e5e5e5;
}
.centro .checkout-page .nobr {
	width: 12%;
}
.centro .select-address-title
{
	color: #C00;
	padding-bottom: 10px;
}
.centro .address-box {
	padding: 10px 0 10px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 10px 0 10px 0;
}
.centro .address-box b {
	font-size: 18px;
}
.centro .shipping-options {
		padding: 10px 0 10px 0;
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
	margin: 10px 0 10px 0;
	font-size: 15px;
}
.centro .option-name {
	padding: 4px 0 4px 0;
}
	
.centro .select-button {
	padding: 10px 0 10px 0;
	text-align: right;
}
.centro .order-completed {
	font-size: 14px;
	line-height: 1.6;
}
.centro .order-completed b {
	font-size: 16px;

}
/*********contact-form******************************************/
.centro .contact-form {
	font-size: 12px;
	font-family: 'MyriadProRegular';
	color: #444;
	text-transform:uppercase;
}
.centro .contact-form h1 {
	font-size: 22px;
	font-family: 'MyriadProBold';
	padding-bottom: 15px;
}
.centro .contact-form table.table-container {
	width: 100%;
	margin-top: 20px;
}
.centro .contact-form table td.item-name {
	width: 50%;
	text-align: left;
}
.centro .contact-form input[type=text] {
	background-color: #d5d5d5;
	border: 0;
	color: #333;
	width:100%;
	padding: 4px 0;
}
.centro .contact-form input[type=text]:focus {
	background-color: #f0f0f0;
	color: #333;
}
.centro .contact-form textarea {
	background-color: #d5d5d5;
	color: #333;
	width:100%;
	padding: 4px 0;
	border: 0;
}
.centro .contact-form textarea:focus {
	background-color: #f0f0f0;
	color: #333;
	width:100%;
	padding: 4px 0;
}
.centro .contact-form input[type=submit] {
	background-color: #a32a28;
	border: 1px solid #a32a28;
	text-transform:uppercase;
	color: #eee;
	padding: 4px 10px;
	float:right;
	
}
.centro .contact-form input[type=submit]:hover {
	background-color: #fff;
	border: 1px solid #a32a28;
	text-transform:uppercase;
	color: #a32a28;
	padding: 4px 10px;
	float:right;
	
}
.centro .contact-form p {
	padding: 5px 0 5px 0;
}
.centro .contact-form span {
	padding: 5px 0 5px 0;
	color: #a32a28;
}
/****************** table ***********************************/

/****************** contato ***********************************/
.contato {
	background-image:url(images/bg-contato.jpg);
	background-repeat:no-repeat;
	background-position: center 12px;
	height: 360px;
	padding: 60px 40px 0 40px;
	color: #ddd;
	
}
.contato p {
	padding: 2px 0 10px 0;
}
.contato input[type=text] {
	background-color: #a9a0a0;
	padding: 4px 10px;
	color: #222;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	width: 100%;
	border:0;

}
.contato input[type=text]:focus {
	background-color: #fff;
}
.contato textarea {
	background-color: #a9a0a0;
	padding: 4px 10px;
	color: #222;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	width: 100%;
	height: 110px;
	border:0;
}
.contato textarea:focus {
	background-color: #fff;
}
.contato input[type=submit] {
	background-color: #b62927;
	padding: 4px 12px;
	color: #ddd;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	border:0;
	float:right;
	cursor: pointer;
}
.contato input[type=submit]:hover {
	background-color: #fff;
	color: #b62927;
}
.contato input[type=button] {
	background-color: #b62927;
	padding: 4px 12px;
	color: #ddd;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	border:0;
	float:right;
	cursor: pointer;
}
.contato input[type=button]:hover {
	background-color: #fff;
	color: #b62927;
}
.contato .coluna-right {
	float: right;
	width: 46%
}
.contato .coluna-left {
	float: left;
	width: 46%
}
/****************** blog ***********************************/
.blog {
	padding: 20px 0 10px 0;
	}
.blog .titulo {
	background-image: url(images/bg-titulo-blog.png);
	background-repeat:no-repeat;
	height: 32px;
	display:block;
	margin-bottom: 10px;
	}
.blog .conteudo {
	width: 635px;
	float: left;
}
.blog .conteudo .post {
	background-color: #fff;
	margin: 60px 0 0px 48px;
	padding: 20px;
	color: #333;
	font-size: 15px;
}
.blog .conteudo .post .mao {
	background-color: transparent;
	background-image: url(images/blog-mao.png);
	background-repeat:no-repeat;
	width: 45px;
	height: 57px;
	margin: -67px 0 0 -34px;
}
.blog .conteudo .post .data {
	background-color: transparent;
	background-image: url(images/bg-data-blog.png);
	background-repeat:no-repeat;
	width: 48px;
	height: 105px;
	margin: 0 0 0 -68px;
	float:left;
	text-align:center;
	font-family: 'MyriadProBold';
	color: #fff;
	font-size: 16px;
	padding-top: 20px;
}
.blog .conteudo .post .data span{
	font-size: 30px;
	
}
.blog .conteudo .post .titulo {
	font-family: 'MyriadProBold';
	font-size: 28px;
	background-color: #fff;
	background-image: none;
	padding: 20px 0 20px 0;
	border-bottom: 3px dashed #ccc;	
	margin-bottom: 20px;
		
}
.blog .conteudo .post .tags {
	font-family: 'MyriadProBold';
	font-size: 16px;
	padding: 20px 0 10px 0;
	border-top: 3px dashed #ccc;
	color: #999;
	margin-top: 20px;	
		
}
.blog .conteudo .post .tags span {
   color: #ba2d30;
}
.blog .conteudo .post .tags span a {
   color: #ba2d30;
}
.blog .conteudo .post img, object, embed {
	width: 100%;
}

.blog .lateral {
	width: 300px;
	float: right;
	text-align:right;
}
.blog .lateral .titulo {
	font-size: 32px;
	color: #C00;
	text-align:right;
	padding: 0px 0 0px 0;
	background-image:none;
	font-family: 'ScratchKitRegular';
}
.blog .lateral select {
	background-color: #000;
	border: 1px solid #333;
	padding: 3px 5px;
	font-family: 'MyriadProRegular';
	color: #666;
	width: 100%
}
.blog .lateral .arquivo {
	background-color: #000;
	border: 3px solid #333;
	padding: 12px;
	font-family: 'MyriadProRegular';
	color: #666;
	margin-bottom: 15px;
	text-align:center;
	padding: 20px;
}	
.blog .lateral .arquivo ul{
	margin-left: 15px;
	text-align:left;
}
.blog .lateral .arquivo ul li.year {
    font-size: 20px;
    font-family: 'MyriadProBold';
    list-style: none;
    
}
.blog .lateral .arquivo ul li{
	padding: 2px;
	font-size: 15px;
	font-family: 'MyriadProRegular';
}
.blog .lateral .arquivo ul li a:hover{
	color: #fff;
	text-decoration:underline;
}
.blog .lateral .tags {
	background-color: #000;
	border: 3px solid #333;
	padding: 12px;
	font-family: 'MyriadProRegular';
	color: #666;
	margin-bottom: 15px;
	text-align:center;
	padding: 20px;
}	
.blog .lateral .tags ul{
	list-style: none;
}
.blog .lateral .tags li{
	padding: 2px;
	font-size: 16px;
	display: inline-block;
	list-style: none;
}
.blog .lateral .tags li a:hover{
	color: #fff;
	text-decoration:underline;
}
.blog .lateral .caixa-login {

}
.blog .caixa-login input[type=submit] {
	background-color: #a32a28;
	padding: 4px 10px;
	width: 40px;
	color: #fff;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	float:right;
	border:0;
	cursor: pointer;
}
.blog .caixa-login input[type=submit]:hover {
	background-color: #fff;
	width: 40px;
	color: #a32a28;
}
.blog .caixa-login input[type=button] {
	background-color: #a32a28;
	padding: 4px 10px;
	color: #fff;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	float:right;
	border:0;
	cursor: pointer;
	width: 40px;
}
.blog .caixa-login input[type=button]:hover {
	background-color: #fff;
	width: 40px;
	color: #a32a28;
}
    
/****************** table ***********************************/
.table-geral table {
                width: 100%;
                border-collapse: collapse;
                }  
.table-geral table thead th {
                font-family: 'MyriadProBold';
                font-size: 12px;
                border-bottom: 1px solid #ddd;
				text-transform:uppercase;
				text-align:left;
                }
                
.table-geral tbody {
                border-bottom: 1px solid #ddd;
                }
                
.table-geral tbody tr {
                background: #fff;
                }
              
.table-geral tbody tr.alt-row {
                background: #f3f3f3;
                }
                
.table-geral table td,
.table-geral table th {
                padding: 10px;
                line-height: 1.3em;
				text-align:left;
                }        
				
.table-geral table tfoot td .bulk-actions {
                padding: 15px 0 5px 0;
                } 
				
.table-geral table tfoot td .bulk-actions select {
                padding: 4px;
				border: 1px solid #ccc;
                }    
				
.table-geral ul,
.table-geral ol {
                padding: 10px 0;
                }

/* Unordered List */

.table-geral ul li {
                padding: 4px 0 4px 20px;
                }

/* Ordered List */

.table-geral ol {
                padding: 0 0 0 24px;
                }

.table-geral ol li {
                list-style: decimal;
                padding: 4px 0;
                }
				
				
				
				
/* ----------- stylized ----------- */
#cadastro {
border:solid 0px #ccc;
color: #333;
font-size: 12px;
}

#cadastro .linha {

border-bottom:solid 1px #ccc;
margin-bottom:12px;
padding-bottom: 6px;
margin-top:4px;
font-weight: normal;
float:left;
width: 100%;
color: #777;
}
#cadastro fieldset{
	border-top:1px solid #777;
	border-bottom:0px solid #222;
	border-left:0px solid #222;
	border-right:0px solid #222;
	padding-top: 20px;
	padding-bottom: 20px;
}
#cadastro legend {
	padding-right: 6px;
	font-size: 16px;
	text-transform:uppercase;
	color: #333;
}
#cadastro a{
	color:#777;
	text-decoration:underline;
}

#cadastro label{
display:block;
text-align:right;
width:120px;
float:left;
}
#cadastro label a{

color:#888;
text-decoration:underline;
}
#cadastro .endereco{
	padding-bottom: 20px;
}
#cadastro .endereco span{
	font-size: 16px;
	padding: 2px 0 4px 0;
	font-family: 'MyriadProBold';
	display: block;
}
#cadastro input {

}
#cadastro input:focus{

}
#cadastro input[type=text]{
float:left;
font-size:11px;
padding: 6px;
border:solid 1px #ccc;
width:400px;
margin:2px 0 10px 10px;
color: #555;
}
#cadastro input[type=text]:focus {
border:solid 1px #d2b758;
color: #333;
background-color: #fbf7e9;
}
#cadastro input[type=text]:hover {
border:solid 1px #d2b758;
color: #333;

}
#cadastro input[type=passport]{
float:left;
font-size:11px;
padding: 6px;
border:solid 1px #ccc;
width:400px;
margin:2px 0 10px 10px;
color: #555;
}
#cadastro input[type=passport]:focus {
border:solid 1px #d2b758;
color: #333;
background-color: #fbf7e9;
}
#cadastro input[type=passport]:hover {
border:solid 1px #d2b758;
color: #333;

}
#cadastro input[type=button]{

font-size:11px;
padding: 3px 18px;
border:solid 1px #3f3e3b;
margin:2px;
color: #fff;
background-color: #3f3e3b;
cursor: pointer;
}
#cadastro input[type=button]:hover {

font-size:11px;
padding: 3px 18px;
border:solid 1px #3f3e3b;
margin:2px;
color: #333;
background-color: #fff;
cursor: pointer;
}
#cadastro input[readonly=readonly]{
float:left;
font-size:11px;
padding: 6px;
border:solid 1px #a2962f;
width:300px;
margin:2px 0 10px 10px;
background-color:#f8f2bb;
color: #84791a;
}
#cadastro input[disabled=disabled] {

font-size:11px;
padding: 6px;
border:solid 3px #a2962f;

margin:2px 0 10px 10px;
background-color:#f8f2bb;
color: #84791a;
}

#cadastro textarea{
float:left;
font-size:11px;
padding: 6px;
border:solid 1px #ccc;
width:300px;
margin:2px 0 10px 10px;
border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px;

}

#cadastro textarea:focus{
	background-color:#e4f1f9;
	border:solid 1px #7c9eb8;
	color: #507a9a;
	border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px;
   background-image:url(img/sombra-input.png);
}
#cadastro textarea:hover {
border:solid 1px #7c9eb8;
color: #507a9a;
background-image:url(img/sombra-input.png);
}
#cadastro input[type=checkbox]{
float:left;
padding: 6px;
margin:2px 0 10px 10px;
border:solid 1px #ccc;
}
#cadastro input[type=checkbox]:focus {
border:solid 1px #7c9eb8;
color: #507a9a;
background-image:url(img/sombra-input.png);
}
#cadastro input[type=checkbox]:hover {
border:solid 1px #7c9eb8;
color: #507a9a;
background-image:url(img/sombra-input.png);
}
#cadastro input[type=radio]{

padding: 6px;
margin:2px 0 10px 10px;
border:solid 1px #ccc;
}
#cadastro input[type=radio]:focus {
border:solid 1px #7c9eb8;
color: #507a9a;
background-image:url(img/sombra-input.png);
}
#cadastro input[type=radio]:hover {
border:solid 1px #7c9eb8;
color: #507a9a;
background-image:url(img/sombra-input.png);
}
#cadastro select{
    float:left;
    padding: 6px;
    margin:2px 0 10px 10px;
    border:solid 1px #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #666;
	border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px;
}

#cadastro select:focus{
	background-color:#e4f1f9;
	border:solid 1px #7c9eb8;
	color: #507a9a;
	background-image:url(img/sombra-input.png);
}
#cadastro select:hover {
border:solid 1px #7c9eb8;
color: #507a9a;
background-image:url(img/sombra-input.png);
}

input[type=text].qty-input 
{
    width: 30px;
}
.order-progress{height:50px;margin: 0 0 20px 0;text-align:center;border-bottom:solid 2px #f3f3f3;}
.order-progress ul{padding:0;margin:0;}
.order-progress ul li{list-style:none;display:inline;padding:5px 20px 0;}
.order-progress ul li .active-step{color:#6a6a6a;background:url(images/progress-step-active.gif) no-repeat 50% 50%;padding-bottom:40px;padding-right:1px;}
.order-progress ul li .inactive-step{color:#d7d7d7;background:url(images/progress-step-inactive.gif) no-repeat 50% 50%;padding-bottom:40px;padding-right:1px;}
.block-account-navigation a.active{font-weight:700;}
.block-account-navigation a{white-space:nowrap;}
.block-account-navigation a.inactive{}

.block{margin-bottom:15px;padding-bottom:5px;padding-left:0;}
.block a{}
.block ul.menu-customer li{display:inline;}
.block li{list-style:none;}
.block li.separator{height:1px;background:#E8E6D2;width:140px;margin:5px 0;}
.block-account-navigation ul li a:hover
{
color: #fff;
background-color: #666;
}
.message-error{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}
.validation-summary-errors{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}
.field-validation-error{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}

#lbImage{position:absolute;left:0;top:0;border:10px solid #fff;background-repeat:no-repeat;}

/* SLIM BOX (PRODUCT IMAGES) */
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#000;cursor:pointer;}
#lbCenter,#lbBottomContainer{position:absolute;z-index:9999;overflow:hidden;background-color:#fff;}
.lbLoading{background:#fff url(images/loading.gif) no-repeat center;}
#lbImage{position:absolute;left:0;top:0;border:10px solid #fff;background-repeat:no-repeat;}
#lbPrevLink,#lbNextLink{display:block;position:absolute;top:0;width:50%;outline:none;}
#lbPrevLink{left:0;}
#lbPrevLink:hover{background:transparent url(images/prevlabel.gif) no-repeat 0 15%;}
#lbNextLink{right:0;}
#lbNextLink:hover{background:transparent url(images/nextlabel.gif) no-repeat 100% 15%;}
#lbBottom{font-size:10px;color:#666;line-height:1.4em;text-align:left;border:10px solid #fff;border-top-style:none;}
#lbCloseLink{display:block;float:right;width:66px;height:22px;background:transparent url(images/closelabel.gif) no-repeat center;margin:5px 0;outline:none;}
#lbCaption,#lbNumber{margin-right:71px;}
#lbCaption{font-weight:700;}

/*******************************    fontes   ****************************************************/
@font-face {
    font-family: 'ScratchKitRegular';
    src: url('fontes/scratch_kit-webfont.eot');
    src: url('fontes/scratch_kit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/scratch_kit-webfont.woff') format('woff'),
         url('fontes/scratch_kit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('fontes/myriadpro-regular_0-webfont.eot');
    src: url('fontes/myriadpro-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/myriadpro-regular_0-webfont.woff') format('woff'),
         url('fontes/myriadpro-regular_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadProBold';
    src: url('fontes/myriadpro-bold_0-webfont.eot');
    src: url('fontes/myriadpro-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/myriadpro-bold_0-webfont.woff') format('woff'),
         url('fontes/myriadpro-bold_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}